/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://e0.pxfuel.com/wallpapers/475/184/desktop-wallpaper-portfolio-background-portfolio-background-portfolio-and-career-portfolio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white; /* Set text color to white */
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  color: #333;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

a {
  color: #4285f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.header img {
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
}

header nav ul {
  list-style: none;
  margin-left: auto;
}

header nav ul li {
  margin-right: 10px;
}

/* Ribbon Styles */
.ribbon {
  background-color: #4285f4;
  color: #fff !important;
  padding: 5px 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.ribbon a {
  color: #fff !important;
}

.ribbon h2 {
  color: #fff !important;
}

/* Navigation Styles */
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* About Page Styles */
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

body.about-page {
  text-align: left;
}

body.about-page .container {
  padding: 0;
}

body.about-page ul {
  padding-left: 0;
}
section {
  text-align: left;
}
.section-heading {
  background-color: transparent; /* Adjust the background color as needed */
  color: #fff; /* Set text color to white */
  padding: 10px 0; /* Add padding to the section heading */
  margin-top: 20px; /* Add some space between sections */
  text-align: center; /* Center-align the section heading */
  font-size: 24px; /* Increase font size */
  font-weight: bold; /* Set font weight to bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */
}
tr {
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold; /* Set font weight to bold */
}

td {
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
}
h3 {
  color: white; /* Set text color to white */
  font-weight: bold; /* Set font weight to bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */
}
.logo-img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Apply circular border radius */
  border: 2px solid white; /* Add a white border around the logo */
  margin-right: 20px; /* Add some spacing between the logo and navigation */
}
.experience-item {
  background-color: transparent; /* Adjust the background color as needed */
  padding: 20px; /* Add padding to the section */
  border-radius: 10px; /* Add rounded corners */
  margin-bottom: 20px; /* Add space between sections */
}
.click-button {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
